Options All

AddDefaultCharset UTF-8
DefaultLanguage en-US

ServerSignature EMail
SetEnv SERVER_ADMIN thomas_schilb@outlook.com

IndexOptions FancyIndexing FoldersFirst SuppressIcon NameWidth=* DescriptionWidth=*
